<div class="new-message" [ngStyle]="{ 'opacity': show ? 1 : 0, 'transition': 'opacity 0.5s' }">
    <p>
        Se que te di algo tarde el regalo, 
        se que puedo llegar a fastidiar un poco con mis vainas,
        se que no soy perfecto pero quiero que sepas y que siempre tengas en cuenta que eres la mujer mas especial que hay en este mundo. <br>
        Eres una mujer a la cual <label class="destacado">admiro</label> y quiero con todo mi corazon.
        Eres uno de los mejores regalos <label class="shake">🎁</label> que me a dado la vida GRACIAS POR QUEDARTE AQUI 🐔❤️
    </p>
</div>

