<div class="sparkle-container">
    <div *ngFor="let sparkle of sparkles"
        class="sparkle"
        [ngStyle]="{
            '--top': sparkle.top,
            '--left': sparkle.left,
            '--delay': sparkle.delay
        }">
    </div>
</div>
<div class="flower-collage" >
    <img 
        *ngFor='let flower of flowers'
        [ngStyle]="{'top':flower.top, 'left': flower.left}"
        class="yflower"
        [src]="flower.url"
        alt="FloresAmarillas" 
        srcset=""
    >

</div>

<app-message></app-message>
<app-button></app-button>
