/* animacion rotar para la imagen */
@keyframes rotate {
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}

/* @keyframes move {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(-20px);}
} */

@keyframes moveDown {
    from { top: -10%; }
    to { top: 100%; }
}

app-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 2rem;
    color: black;
    text-align: center;
    /* From https://css.glass */
    background: rgba(17, 144, 59, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    border: 1px solid rgba(237, 143, 14, 0.3);
    padding: 10rem;
}

app-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 2rem;
    text-align: center;
}

app-simfoni {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 2rem;
    text-align: center;
}

.flower-collage {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100vh; /* Ajusta según lo necesites */
    overflow: hidden; /* Evita que la página sea desplazable */
  }
  

div .yflower {
    opacity: .2;
    width: 300px;
    position: absolute;
    height: auto;
    animation: rotate 60s linear infinite; /* controla la velocidad de la animacion */
}

/* Brillitos */
@keyframes sparkle {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.5);
    }
  }
  
  .sparkle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: -1; /* Asegura que esté detrás de otros elementos */
  }
  
  .sparkle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgba(17, 144, 59, 0.8);
    border-radius: 50%;
    animation: sparkle 3s infinite ease-in-out;
  }
  
  .sparkle:nth-child(2n) {
    width: 7px;
    height: 7px;
    animation-duration: 2.5s;
  }
  
  .sparkle:nth-child(3n) {
    width: 4px;
    height: 4px;
    animation-duration: 2s;
  }
  
  .sparkle:nth-child(4n) {
    width: 6px;
    height: 6px;
    animation-duration: 3.5s;
  }
  
  /* Animación aleatoria para cada brillo */
  .sparkle {
    top: calc(100% * var(--top));
    left: calc(100% * var(--left));
    animation-delay: calc(-3s * var(--delay));
  }  
