<div class="sparkle-container">
    <div *ngFor="let sparkle of sparkles"
        class="sparkle"
        [ngStyle]="{
            '--top': sparkle.top,
            '--left': sparkle.left,
            '--delay': sparkle.delay
        }">
    </div>
</div>
<div class="flower-collage" >
    <img 
        *ngFor='let flower of flowers'
        [ngStyle]="{'top':flower.top, 'left': flower.left}"
        class="yflower"
        [src]="flower.url"
        alt="FloresAmarillas" 
        srcset=""
    >

</div>

<app-message
    [ngStyle]="{
        'transform': moveMessage ? 'translate(-150%, -50%)' : 'translate(-50%, -50%)',
        'opacity': moveMessage ? 0 : 1,
        'transition': 'transform 0.5s, opacity 0.5s'
}">
{{ moveMessage ? '' : 'Mensaje original' }}
></app-message>
<app-dedication [show]="showNewMessage"></app-dedication>
<app-simfoni *ngIf="showImg"></app-simfoni>
<app-button (click)="onButtonClick()" ></app-button>
